<a href="@Url.Action("Index", "Booking")"
   class="relative text-lg cursor-pointer
              after:content-[''] after:absolute after:-bottom-1 after:left-1/2
              after:w-0 after:h-0.5 after:bg-[var(--fourth-color)] after:transition-all after:duration-300
              hover:after:w-full hover:after:left-0
                          @(Context.Request.Path.Value == Url.Action("Index", "Booking") ? "text-[var(--fifth-color)]" : "text-white")">
    BOOKINGS
    </a>
    <a href="@Url.Action("Profile", "Guest")"
       class="relative text-lg cursor-pointer
              after:content-[''] after:absolute after:-bottom-1 after:left-1/2
              after:w-0 after:h-0.5 after:bg-[var(--fourth-color)] after:transition-all after:duration-300
              hover:after:w-full hover:after:left-0
                          @(Context.Request.Path.Value == Url.Action("Profile", "Guest") ? "text-[var(--fifth-color)]" : "text-white")">
    PROFILE
    </a>
    <a href="@Url.Action("Tasks", "Housekeeping")"
       class="relative text-lg cursor-pointer
              after:content-[''] after:absolute after:-bottom-1 after:left-1/2
              after:w-0 after:h-0.5 after:bg-[var(--fourth-color)] after:transition-all after:duration-300
              hover:after:w-full hover:after:left-0
                          @(Context.Request.Path.Value == Url.Action("Tasks", "Housekeeping") ? "text-[var(--fifth-color)]" : "text-white")">
     HOUSEKEEPING
    </a>
<a href="@Url.Action("SpecialServices", "Services")"
   class="relative text-lg cursor-pointer
              after:content-[''] after:absolute after:-bottom-1 after:left-1/2
              after:w-0 after:h-0.5 after:bg-[var(--fourth-color)] after:transition-all after:duration-300
              hover:after:w-full hover:after:left-0
                          @(Context.Request.Path.Value == Url.Action("SpecialServices", "Services") ? "text-[var(--fifth-color)]" : "text-white")">
    SERVICES
</a>
<a href="@Url.Action("Offers", "Discount")"
   class="relative text-lg cursor-pointer
              after:content-[''] after:absolute after:-bottom-1 after:left-1/2
              after:w-0 after:h-0.5 after:bg-[var(--fourth-color)] after:transition-all after:duration-300
              hover:after:w-full hover:after:left-0
                          @(Context.Request.Path.Value == Url.Action("Offers", "Discount") ? "text-[var(--fifth-color)]" : "text-white")">
    OFFERS
</a>
<a href="@Url.Action("Index", "Notification")"
   class="relative text-lg cursor-pointer
              after:content-[''] after:absolute after:-bottom-1 after:left-1/2
              after:w-0 after:h-0.5 after:bg-[var(--fourth-color)] after:transition-all after:duration-300
              hover:after:w-full hover:after:left-0
                          @(Context.Request.Path.Value == Url.Action("Index", "Notification") ? "text-[var(--fifth-color)]" : "text-white")">
    NOTIFICATIONS
</a>
<a href="@Url.Action("Summary", "Reports")"
   class="relative text-lg cursor-pointer
              after:content-[''] after:absolute after:-bottom-1 after:left-1/2
              after:w-0 after:h-0.5 after:bg-[var(--fourth-color)] after:transition-all after:duration-300
              hover:after:w-full hover:after:left-0
                          @(Context.Request.Path.Value == Url.Action("Summary", "Reports") ? "text-[var(--fifth-color)]" : "text-white")">
    REPORTS
</a>
